
.m10px {
    margin: 10px;
}

.d-flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
 
}



nav{
    background: #050419;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 300px;
  

}

#username{
    color: #eee;
    margin-top: 20px;
    position: absolute;
    right: 0%;
}

/* btn*/


.input-arriba {
    position: absolute; /* Coloca el input de forma absoluta dentro del contenedor */
    top: 200px; /* Distancia desde la parte superior del contenedor */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajustar para centrar horizontalmente */
  }

  .input-arriba input[type="text"] {
    padding: 10px;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  }

  .input-arriba button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0558EE       ;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .input-arriba button:hover {
    background-color: #0056b3;
  }
/*Boton compartir*/

/*grid*/

html,
body {
	height: 100%;

}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff; 
}

th {
	text-align: left;
    
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

