<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/form.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <title>WishBook</title>
</head>

<body>
    <div class="d-flex justify-content-center">
        <img src="../img/El texto del párrafo.png" alt="logo">
    </div>
    <div class="center">
        <div class="main">  	
            <input type="checkbox" id="chk" aria-hidden="true">
            <div class="signup">
                <form id="form-create">
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" id="username" name="username" placeholder="User name" required="">
                    <input type="email" id="email" name="email" placeholder="Email" required="">
                    <input type="password" id="password" name="password" placeholder="Password" minlength="8" required="">
                    <button id="btn1" type="submit">Sign up</button>
                </form>
            </div>
            <div class="login">
                <form id = "form-login">
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="password" placeholder="Password" minlength="8" required>
                    <button id="btn"type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../public/js/form.js"></script>
</html>